* {
    margin: 0 ;
    padding: 0;
}

.main {
    background-color: rgb(246, 242, 244);
}





.header {
    position: fixed;
    top: 0%;
    left: 300px;
    width: 750px;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.6;
    z-index: 100;
}

.logo {
    position: relative;
    right: 270px;
    margin-top: 15px;
    border-radius: 100px;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.5);
}


header nav a {
    text-decoration: none;
    margin: 0 15px;
    color: lightgray;
    transition: 0.3s ease;
}


header nav a:hover {
    color: blue;
    cursor: pointer;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}

.contact {
    background-color: black;
    width: 100px;
    height: 30px;
    text-align:center;
    justify-content: center;
    text-decoration: none;
    align-content: center;
    color: white;
    border-radius: 15px;
    position: relative;
    left: 40px;
}

.contact:hover {
    background-color: blue;
    cursor: pointer;

}

/*section1*/



.section1 {
  height: auto;
 padding: 30px 0px 30px;
 display:block;
 grid-template-columns:repeat(auto-fill-100px);
 justify-content:center;
 align-items: center;
}


.img1 {
    padding-left: 650px;
    display: flex;
    justify-content: center;
    
    
}
.text-home{
    display: flex;
    justify-content:left;

}

.name {
   position: relative;
   bottom: 350px;left: 40px;
    z-index: -1;
    font-size: 100px;
    color: blue;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    gap: 10px;
}

.cv {
    position: relative;
    bottom: 200px;
right:320px;
    color: rgb(193, 191, 191);
    text-decoration: none;
    font-size: large;
}

.cv:hover {
    background-color: blue;
    width: 140px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


/*section2*/
.section2{
    display: grid;
    grid-template-columns: (auto-fill,100px);
}


.img-about{
    display: flex;
    justify-content:center;
    padding-right: 450px;
}
.paregraph{
    border: 3px dotted blue;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 650px;
    bottom: 415px;
    z-index: -2;
    font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight:300;
  color: rgb(122, 129, 136);
}


.h1{
    color: blue;
        font-family: "Paprika", serif;
        font-weight:800;
        font-style: normal;
        position: relative;
        left: 800px;
        bottom: 450px;
        font-size: larger;
        z-index: -2;
        animation-name:about ;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      
}
@keyframes about{
    from{
        translate: 0 0;
        color: gray;
    }
    to{
        translate: 0 0;
        color: blue;
    }
}




/*section3*/
.section3{
    display: grid;
    grid-template-columns:repeat(2.auto);
}
.p6{
    color: blue;
    font-family: "Paprika", serif;
    font-weight:800;
    font-style: normal;
    position: relative;
    left: 600px;
    bottom: 300px;
    font-size: larger;
    z-index: -2;
    animation-name:education ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes education{
    from{
        translate: 0 0;
        color: gray;
    }
    to{
        translate: 0 0;
        color: blue;
    }
}



.orange{
    position: relative;
    left:400px;bottom: 250px;
    border-radius: 10px;
    transition: 0.5s ease;
    /* z-index: -10; */
}
.orange:hover{
    transform: scale(1.5);

}

.AUT{
    position: relative;
    left:600px;bottom: 250px;
    border-radius: 10px;
    transition: 0.5s ease;
    /* z-index: -2; */
}
.AUT:hover{
    transform: scale(1.5);

}

.img3{
    position: relative;
    left:700px;bottom: 250px;
    border-radius: 10px;
    transition: 0.5s ease;
    /* z-index: -2; */
}
.img3:hover{
    transform: scale(1.5);

}

.img4{
    position: relative;
    right: 500px;bottom: 250px;
    border-radius: 10px;
    transition: 0.5s ease;
    /* z-index: -2; */
}
.img4:hover{
    transform: scale(1.5);

}

/*section4*/
.section4{
    display: grid;
    grid-template-columns: repeat(3 auto);
}



.p7{
    color: blue;
    font-family: "Paprika", serif;
    font-weight:800;
    font-style: normal;
    position: relative;
    left: 550px;
    bottom: 50px;
    font-size: larger;
    z-index: -2;
    animation-name:work ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes work{
    from{
        translate: 0 0;
        color: gray;
    }
    to{
        translate: 0 0;
        color: blue;
    }
}

.facebook{
    position: relative;
    left:1000px; bottom: 20px;
    transition: 0.5s ease;

}
.facebook:hover{
    transform: scale(1.5);

}
.music{
    position: relative;
    left:200px; bottom:20px;
    transition: 0.5s ease;

}
.music:hover{
    transform: scale(1.5);

}
.netflix{
    position: relative;
    right: 50px; top: 30px;
    border-radius: 10px;
    transition: 0.5s ease;

}
.netflix:hover{
    transform: scale(1.5);

}


/*section5*/
.Experience2{
    display: grid;
    justify-content:space-evenly;
    grid-template-columns:3,100px;
    gap: 10px;
}
.h2{
    color: blue;
    font-family: "Paprika", serif;
    font-weight:800;
    font-style: normal;
    position: relative;
    left: 590px;
    bottom: 50px;
    font-size: larger;
    z-index: -2;
    animation-name:experience ;
    animation-duration: 3s;
    animation-iteration-count: infinite; 
}
@keyframes experience{
    from{
        translate: 0 0;
        color: gray;
    }
    to{
        translate: 0 0;
        color: blue;
    }
}
.p8{
    border: 3px dotted blue;
    width: 300px;height: 200px;
    transition: 3s ease;
    animation-name: p8;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: grid;
    grid-column: 1;
    font-size: larger;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:300;
    color: rgb(122, 129, 136);


}

@keyframes p8{
    from{
        translate: 0 0;
        border-color: blue;
    }
    to{
        translate: 0 0;
        border-color: gray;
    }
}
.p9{
    border: 3px dotted blue;
    width: 300px;height: 200px;
    transition: 3s ease;
    animation-name: p9;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: grid;
    grid-column: 2;
    font-size: larger;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:300;
    color: rgb(122, 129, 136);

}
@keyframes p9{
    from{
        translate: 0 0;
        border-color: blue;
    }
    to{
        translate: 0 0;
        border-color: gray;
    }
}
 
.p10{
    border: 3px dotted blue;
    width: 300px;height: 200px;
    transition: 3s ease;
    animation-name: p10;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: grid;
    grid-column: 3;
    font-size: larger;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:300;
    color: rgb(122, 129, 136);

}

@keyframes p10{
    from{
        translate: 0 0;
        border-color: blue;
    }
    to{
        translate: 0 0;
        border-color: gray;
    }
}

/*section6*/
.p11{
    color: rgb(35, 35, 249);
    font-family: "Paprika", serif;
    font-weight:800;
    font-style: normal;
    position: relative;
    left: 50px;
    top: 20px;
    font-size: x-large;
}



form fieldset{
    height: 400px;
    background-color: black;
    /* opacity: 0.4; */
    display: flex;
    flex-wrap: wrap;
flex-direction: column;
justify-content: left;


}
#name{
    width: 200px;
    height: 50px;
    position: relative;
    left: 50px;top: 50px;
    background-color: midnightblue;
    transition:0.3s ease;
}
#name:hover{
    transform:scale(1.5);
}

#email{
    width: 200px;
    height: 50px;
    position: relative;
    left: 50px;top: 60px;
    background-color: midnightblue;
    transition:0.3s ease;
}
#email:hover{
    transform:scale(1.5);

}

.textarea{
    width: 100px;
    height: 200px;
    position: relative;
    left: 50px;
    top: 70px;
   
}
.checkbox{
    color:whitesmoke;
    font-weight: 700;
    text-align: left;
    position: relative;
    left: 45px;
    background-color: midnightblue;
    width: 130px;height: 25px;
}
.send{
    width: 60px;
    position: relative;
    left: 60px;top:10px;
    background-color: azure;
    transition:0.3s ease;

}
.send:hover{
    transform:scale(1.5);
background-color: midnightblue;
}
.img6{
position: relative;
left: 600px;top:60px;

}
.p12{
    color: whitesmoke;
    position: relative;
    bottom: 300px;left: 150px;
    font-family: "Paprika", serif;
    font-weight:800;
    font-style: normal;
    text-decoration: underline;
    text-decoration-color:rgb(35, 35, 249);
    font-size: x-large;

}
.discord{
    position: relative;
    right: 200px;top: 100px;
    border-radius: 60px;
    transition: 0.3s ease;
}
.discord:hover{
    transform: scale(1.5);
}
.whats2{
    position: relative;
    right: 530px;top:15px;
   border-radius: 10px;
    transition: 0.3s ease;

}
.whats2:hover{
    transform: scale(1.5);

}


.git{
    position: relative;
    right: 350px;bottom:75px;
    border-radius: 60px;
    transition: 0.3s ease;

}
.git:hover{
    transform: scale(1.5);

}
.p13{
    color: rgb(35, 35, 249);
    font-family: "Paprika", serif;
    font-weight:800;
    font-style: normal;
    position: relative;
    right: 450px;
    bottom: 40px;
    font-size: x-large;
}
.p14{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: medium;
}